/*================================================================================
=============| V A R I A B L E S |================================================
================================================================================*/

:root {
   --fontColor     : white;  
   --backColor     : black;
   --alertColor    : #ff30f1;
   --fontFamilly   : 'Cabin Sketch', cursive;
   --titleSpacer   : 10px;
   --regularSpacer : 5px;
   --smallSpacer   : 3px;
   --titleSize     : 2em;
   --hintSize      : 1.6em;
   --regularSize   : 1em;
   --smallSize     : 0.7em;
  
}

/*================================================================================
=============| A N I M A T I O N S |==============================================
================================================================================*/

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes appearDisappear {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

/*================================================================================
=============| G L O B A L |======================================================
================================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 400;
}

body {
    background-color: var(--backColor);
    color: var(--fontColor);
    font-family: var(--fontFamilly);
    letter-spacing: var(--regularSpacer);
    min-width: 320px;
}

a {
    text-decoration: none;
    text-transform: none;
    color: var(--fontColor);
}

.window {
    position: relative;
    height: 100vh;
    width: 100%;
    animation: fadeIn linear 3s;
}
.stuff-container {
    width: 310px;
    height: 450px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -147.5px;
    margin-top: -210px;
}

.spacer {
    height: 50px;
}

/*================================================================================
=============| H O M E |==========================================================
================================================================================*/

.home-txt {
    font-size: var(--regularSize);
    margin-bottom: 50px;
}

.title {
    margin-bottom: 50px;
    font-size: var(--titleSize);
    letter-spacing: var(--titleSpacer);
}

#the-end {
    color: var(--alertColor);
}

/*================================================================================
=============| B U T T O N |======================================================
================================================================================*/

.button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px var(--fontColor) solid;
    cursor: pointer;
}

.send-button {
    background: none;
    color: var(--fontColor);
    font-family: var(--fontFamilly);
    letter-spacing: var(--letterSpacer);
    font-size: var(--regularSize);
    padding: 15px;
}

.btn-ctn {
    padding: 15px;
}

.btn-txt {
    font-size: var(--regularSize);
}

.btn-sub-txt {
    font-size: var(--smallSize);
    letter-spacing: var(--smallSpacer);
    font-weight: 100;
}

/*================================================================================
=============| C O U N T D O W N |================================================
================================================================================*/

/* 

.countDown-announcer {
    width: 100%;
    font-size: 1.1em;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.countDown-complete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.countDown-part {
    width: 60px;
}

.count-data {
    font-size: var(--regularSize);
    letter-spacing: var(--smallSpacer);
}

*/

/*================================================================================
=============| H I N T |==========================================================
================================================================================*/

.the-hint-complete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 130px;
}

.visible {
    font-size: var(--titleSize);
    letter-spacing: var(--titleSpacer);
    font-weight: 400;
}

.disappear {
    opacity: 0;
    font-size: var(--titleSize);
    letter-spacing: var(--titleSpacer);
    font-weight: 400;
    transition: 2.5s;
}

/*================================================================================
=============| H I N T / L V L |==================================================
================================================================================*/

.center-contain-lvl-01,
.center-contain-lvl-02,
.center-contain-lvl-fnl {
    margin-top: -100px;
}

.lvl-title {
    font-size: var(--regularSize);
    letter-spacing: var(--regularSpacer);
    margin-bottom: 50px;
}

.lvl-01-krypto,
.lvl-answer {
    width: 300px;
    margin-bottom: 50px;
}

.lvl-02-contain {
    height: 140px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.lvl-02-try-counter {
    margin-top: 15px;
}

#try-counter {
    color: var(--alertColor);
}

#lvl-02-error {
    font-size: var(--smallSize);
    color: var(--alertColor);
}

.lvl-03-enigma {
    opacity: 0;
    width: 300px;
    margin-bottom: 50px;
    animation: appearDisappear ease-in-out 8.5s;
}

.lvl-fnl-hint-part {
    margin: 15px;
    font-size: var(--hintSize);
    letter-spacing: var(--titleSpacer);
}

.lvl-fnl-hint {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fnl-prop {
    margin-bottom: 50px;
}

.nope-txt {
    opacity: 0;
    font-size: var(--titleSize);
    letter-spacing: var(--titleSpacer);
    animation: appearDisappear linear 4s;
}

/*================================================================================
=============| F O R M U L A R |==================================================
================================================================================*/

.form-label {
    font-size: var(--regularSize);
}

.form-input {
    background: none;
    color: var(--fontColor);
    font-family: var(--fontFamilly);
    letter-spacing: var(--letterSpacer);
    font-size: var(--regularSize);
    text-transform: uppercase;
    width: 270px;
    margin-bottom: 50px;
    border: 1px var(--fontColor) solid;
    border-radius: 0;
    padding: 15px;
}

.name-input {
    margin-bottom: 25px;
}

/*================================================================================
=============| S U C C E S S |====================================================
================================================================================*/


.thank-txt {
   margin-bottom: 25px;
   font-size: var(--regularSize);
}

.release-date{
    font-size: var(--titleSize);
    letter-spacing: var(--titleSpacer);
    margin-bottom: 30px;
}

