/*================================================================================
=============| V A R I A B L E S |================================================
================================================================================*/

:root {
   --fontColor    : white;  
   --backColor    : black;
   --fontFamilly  : 'Cabin Sketch', cursive;
   --letterSpacer : 10px;
   --titleSize    : 2em;
   --regularSize  : 1.3em;
   --smallSize    : 0.7em;
}

/*================================================================================
=============| A N I M A T I O N |================================================
================================================================================*/

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/*================================================================================
=============| G L O B A L |======================================================
================================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 400;
}

body {
    background-color: var(--backColor);
    color: var(--fontColor);
    font-family: var(--fontFamilly);
    letter-spacing: var(--letterSpacer);
    min-width: 320px;
}

a {
    text-decoration: none;
    text-transform: none;
    color: var(--fontColor);
}

/*================================================================================
=============| H O M E |==========================================================
================================================================================*/
.window {
    position: relative;
    height: 100vh;
    width: 100%;
    animation: fadeIn linear 2s;
}
.stuff-container {
    width: 295px;
    height: 420px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -147.5px;
    margin-top: -210px;
}

.title {
    margin-bottom: 70px;
    font-size: var(--titleSize);
}

/*================================================================================
=============| B U T T O N |======================================================
================================================================================*/

.button {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px var(--fontColor) solid;
    cursor: pointer;
}

.send-button {
    background: none;
    color: var(--fontColor);
    font-family: var(--fontFamilly);
    letter-spacing: var(--letterSpacer);
    font-size: var(--regularSize);
    padding: 15px;
}

.btn-ctn {
    padding: 15px;
}

.btn-txt {
    font-size: var(--regularSize);
}

.btn-sub-txt {
    font-size: var(--smallSize);
    letter-spacing: 4px;
    font-weight: 100;
}

/*================================================================================
=============| H I N T |==========================================================
================================================================================*/

.the-hint-complete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 130px;
}

.visible {
    font-size: var(--titleSize);
    font-weight: 400;
}

.disappear {
    opacity: 0;
    font-size: var(--titleSize);
    font-weight: 400;
    transition: 2.5s;
}

/*================================================================================
=============| F O R M U L A R |==================================================
================================================================================*/

.form-label {
    font-size: var(--regularSize);
}

.form-input {
    background: none;
    color: var(--fontColor);
    font-family: var(--fontFamilly);
    letter-spacing: var(--letterSpacer);
    font-size: var(--regularSize);
    width: 270px;
    margin-bottom: 50px;
    border: 1px var(--fontColor) solid;
    padding: 15px;
}

.name-input {
    margin-bottom: 25px;
}
