---
layout: layout.njk
pageTitle: Answer
---

<form name="contact" method="POST" data-netlify="true" action="/success/" class="the-form">

  <p>
    <label class="form-label name-label">Votre Nom:<br>
        <input class="form-input name-input" type="text" name="name" required="required"/>
    </label>
  </p>

  <p>
    <label class="form-label answer-label">Votre Proposition:<br> 
        <input class="form-input answer-input" type="text" name="proposition" required="required"/>
    </label> 
  </p>

  <p>
    <button class="button send-button" type="submit">Envoyez</button>
  </p>
</form>

<a href="{{'/' | url}}">
    <div class="button back-home">
        <div class="btn-ctn">
            <h2 class="btn-txt txt-back">Retour Accueil</h2>
        </div>
    </div>
</a>