---
layout: layout.njk
pageTitle: Hint
---

<div class="the-hint-complete">
    <div class="hint-part">
        <span id="hint-1" class="visible">-10</span>
    </div>
    <div class="hint-part">
        <span id="hint-2" class="visible">+4</span> 
    </div>
    <div class="hint-part">
        <span id="hint-3" class="visible">-1</span> 
    </div>
    <div class="hint-part">
        <span id="hint-4" class="visible">+25</span> 
    </div>
    <div class="hint-part">
        <span id="hint-5" class="visible">=</span>
    </div>
</div>