---
layout: layout.njk
pageTitle: Hint
---

<div class="the-hint-complete">
    <div class="hint-part">
        <span class="hint one">-10</span>
    </div>
    <div class="hint-part">
        <span class="hint two">+4</span> 
    </div>
    <div class="hint-part">
        <span class="hint three">-1</span> 
    </div>
    <div class="hint-part">
        <span class="hint four">+25</span> 
    </div>
    <div class="hint-part">
        <span class="hint five">=</span>
    </div>
</div>