---
layout: layout.njk
pageTitle: LVL-02
---

<div class="center-contain-lvl-02">
    <h2 class="lvl-title">{{pageTitle}}</h2>
    <p class="lvl-02-txt">trouvez le nombre secret entre 0 et 100</p>
    <p class="lvl-02-try-counter">essais restant <span id="try-counter">5</span></p>
    <div class="more-or-less">
    </div>
    <form name="answer" method="POST" class="answer-form">
    <p>
        <label class="form-label answer-label">Entrez votre nombre<br> 
            <input class="form-input answer-input" type="text" name="proposition" required="required"/>
        </label> 
    </p>

    <p>
        <button class="button send-button" type="submit">Jouez</button>
    </p>
    </form>
</div>