---
layout: layout.njk
pageTitle: LVL-03
pageScript: /assets/js/lvl-03.js
---

<div class="center-contain-lvl-03">
    <h2 class="lvl-title">{{pageTitle}}</h2>

    <img class="lvl-03-enigma" src="/assets/pics/enigma-draw.png" alt="enigma-02">

</div>