---
layout: layout.njk
pageTitle: LVL-03
---
<div class="center-contain-lvl-03">
    <h2 class="lvl-title">{{pageTitle}}</h2>

    <img class="enigma" src="/assets/pics/enigma-draw.png" alt="enigma-02">

</div>