---
layout: layout.njk
pageTitle: Hint lvl-01
---
<div class="center-contain-lvl-01">
    <h2 class="lvl-title">LVL-01</h2>

    <img class="krypto" src="/assets/pics/krypto-2.png" alt="enigma-01">

    <form name="answer" method="POST" class="answer-form">
    <p>
        <label class="form-label answer-label">Votre Proposition:<br> 
            <input class="form-input answer-input" type="text" name="proposition" required="required"/>
        </label> 
    </p>

    <p>
        <button class="button send-button" type="submit">Envoyez</button>
    </p>
    </form>
</div>